@model IEnumerable<eCartModels.CartDetail>



<div class="col-lg-12" style="margin:10px 0px;">
    <h2> Active Shoppers Carts </h2>
    <div class="col-lg-4" style="margin-top:5px;">
        <div class="btn-group">
            <a class="btn btn-default active" id="cartStatus-Active" href="@Url.Action("Index", "Store", new { id = ViewBag.StoreId, cartStatus = 1 })"> Active </a>
            <a class="btn btn-default" id="cartStatus-Delivered" href="@Url.Action("Index", "Store", new { id = ViewBag.StoreId, cartStatus = 5 })"> Delivered </a>
            <a class="btn btn-default" id="cartStatus-Cancelled" href="@Url.Action("Index", "Store", new { id = ViewBag.StoreId, cartStatus = 6 })"> Cancelled </a>
        </div>
    </div>

    <div class="col-lg-offset-5 col-lg-3" style="margin-top:5px;">
        <div class="btn-group">
            @*<a class="btn btn-default active" > Online Orders </a>*@
            @*<a class="btn btn-default" href="@Url.Action("Index", "StoreKioskOrders", new { id = ViewBag.StoreId })"> Kiosk Orders </a>*@
        </div>
    </div>
</div>

<div class="panel panel-default col-lg-12">
    <table class="table">
        <thead>
            <tr style="font-weight:bold;">
                <td style="width:100px;"> Cart&nbsp;Id </td>
                <td style="min-width:120px;"> Status </td>
                <td> Shopper </td>
                <td> Contact # </td>
                <td> Delivery Type </td>
                <td> Pickup Date </td>
                <td> Total Items </td>
                <td> Pickup Location </td>
                <td> Total Amount </td>
                <td> Payment </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                var itemCount = 0;
                decimal totalAmount = 0;
            }
            @foreach (var cart in Model)
            {
                foreach (var item in cart.CartItems)
                {
                    itemCount++;
                    totalAmount += item.ItemQty * item.StoreItem.UnitPrice;
                }
                <tr>
                    <td>

                        @if (cart.DeliveryType == "Kiosk") //Kiosk
                        {
                            <img src="~/img/store/icons/purchase-order-48.png" class="store-cart-status-icon" />
                        }
                        else
                        {
                            <img src="~/img/store/icons/delivery-40.png" class="store-cart-status-icon" />
                        }

                        @cart.Id.ToString("#0000")
                    </td>
                    <td>

                        @if (cart.CartStatusId == 2) //processing
                        {
                            <img src="~/img/store/icons/submit-48.png" class="store-cart-status-icon" />
                        }
                        @if (cart.CartStatusId == 3) //processing
                        {
                            <img src="~/img/store/icons/cart-process-40.png" class="store-cart-status-icon" />
                        }
                        else if (cart.CartStatusId == 4) //active
                        {
                            <img src="~/img/store/icons/cart-ok-40.png" class="store-cart-status-icon" />
                        }

                        @cart.CartStatu.Name
                    </td>
                    <td>
                        @if (cart.DeliveryType == "Kiosk")
                        {
                            Html.RenderAction("getKioskOrderName", new { id = cart.Id });
                        }
                        else
                        {
                            @cart.UserDetail.Name
                        }
                    </td>
                    <td>

                        @if (cart.DeliveryType == "Kiosk")
                        {
                           
                        }
                        else
                        {
                            @cart.UserDetail.Mobile
                        }
                    </td>
                    <td>
                        @cart.DeliveryType
                    </td>
                    <td>
                        @if (cart.DeliveryType == "Kiosk")
                        {

                        }
                        else
                        {
                            @cart.UserDetail.Name
                        }
                    </td>
                    <td>
                        @cart.CartItems.Count()
                    </td>
                    <td>
                        @if (cart.DeliveryType == "Kiosk")
                        {

                        }
                        else
                        {
                            @cart.StorePickupPoint.Address
                        }

                    </td>
                    <td>
                        @{decimal amount = 0;}
                        @foreach (var item in cart.CartItems)
                        {

                            amount += item.StoreItem.UnitPrice * item.ItemQty;

                        }
                        <span>
                            @amount.ToString("0.00")
                        </span>
                    </td>
                    <td>
                        <span id="table-payment-@cart.Id">
                            @if (cart.PaymentDetails.FirstOrDefault() != null)
                            {
                                @cart.PaymentDetails.LastOrDefault().Amount.ToString("0.00") <br />
                                @cart.PaymentDetails.LastOrDefault().PaymentStatu.Name
                            }
                        </span>
                    </td>
                    <td>
                        @Html.ActionLink("View Cart", "Details", "CartDetails", new { id = cart.Id }, new { @class = "btn btn-primary" })
                        <button class="btn btn-default" data-target="#PaymentModal" data-toggle="modal" onclick="SetPaymentCart(@cart.Id, '@cart.UserDetail.Name')"> Payment </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
