@model IEnumerable<eCartModels.CartDelivery>

<br />
<h4> <b>Cart Delivery</b> </h4>
<p>
    <a href="" data-target="#CartDeliveryAdd" data-toggle="modal"> Assign Cart Delivery </a> 
</p>
<table class="table bordered">
    <tr>
        <th>
            Rider
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    <tbody id="table-delivery">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RiderDetail.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtDelivery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @if (@item.CartDeliveryActivities.FirstOrDefault() != null)
                    {
                        @item.CartDeliveryActivities.LastOrDefault().CartActivityType.Name
                    }
                    else
                    {
                        <p>Pending</p>
                    }

                </td>
                <td>
                    <a data-target="#CartDeliveryEdit" data-toggle="modal" onclick="EditDelivery(@item.Id)"> Edit </a>|
                    <a onclick="DeleteCartDelivery(@item.Id)"> Delete </a> |
                    <a href="" data-target="#CartDeliveryHistory" data-toggle="modal" onclick="GetDeliveryHistory(@item.Id)"> History </a>
                </td>
            </tr>
        }
    </tbody>

</table>

<br />

@Html.Partial("_ModalCartDeliveryAdd", null, new ViewDataDictionary { { "PaymentReceiverList", ViewBag.PaymentReceiverList },
    { "RiderList", ViewBag.RiderList }, { "CartId", ViewBag.CartId } , { "Address", ViewBag.Address } })

@Html.Partial("_ModalCartDeliveryEdit", null, new ViewDataDictionary { { "PaymentReceiverList", ViewBag.PaymentReceiverList },
    { "RiderList", ViewBag.RiderList }, { "CartId", ViewBag.CartId } , { "Address", ViewBag.Address } })

@Html.Partial("_ModalCartDeliveryHistory", null, new ViewDataDictionary { { "CartId", ViewBag.CartId }})

<script>
    function DeleteCartDelivery(id) {
        $.post("/Store/CartDetails/DeleteCartDelivery", { id: id });
        $(e).parent().parent().remove();
    }

    function EditDelivery(id) {
        $("#Edit-delivery-id").val(id);
    }

    function GetDeliveryHistory(deliveryId) {
       
        $.get("/Store/CartDetails/GetCartDeliveryActivities/", { id: deliveryId }, (result) => {
            console.log(result);
            PopulateDeliveryHistory(result);
        });

    }

    function PopulateDeliveryHistory(data) {
        for (var i = 0; i < data.length; i++) {
            let list = "<button class='list-group-item' > " + data[i]["Date"] + " - " + data[i]["Activity"] + " </button>";
            $("#delivery-history").append(list)
        }
    }
</script>