@model IEnumerable<eCartModels.UserDetail>

@{
    ViewBag.Title = "User List";
}

<h2>User Lists</h2>

<p>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard") |
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MasterArea.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterCity.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatu.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MasterArea.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasterCity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStatu.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>