@model IEnumerable<eCartModels.StoreDetail>

<div class="row">
    <div class="col-sm-12">
        <h3> @Html.ActionLink("Featured Stores", "FeaturedStores", "", new { area = "" }, null) </h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-sm-3 store-item">
            
            <a href="@Url.Action("Store", new { id = item.Id })">
            @if (item.StoreImages.FirstOrDefault() != null)
            {
                var image = item.StoreImages.FirstOrDefault();
                <img src="@image.ImageUrl" class="col-sm-6" style="width:50%;"  />
            }
            else
            {
                <img src="~/img/placeholders/placeholder-product.png" class="col-sm-6" style="width:50%;" />
            }
                <div class="col-sm-6">
                    <h4> @item.Name </h4>
                    <span class="badge badge-pill badge-primary"> @item.StoreCategory.Name </span>
                    @*<br /><br /> @Html.ActionLink("View Products", "Products", "Merchant", new { area = "", id = item.Id }, null)*@
                </div>
            </a>
        </div>
    }

</div>

<hr />
