@model IEnumerable<eCartModels.StoreDetail>

<div class="row">
    <div class="col-sm-12">
        <h3> @Html.ActionLink("Featured Stores", "FeaturedStores", "", new { area = "" }, null) </h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="store-item">
                <a href="@Url.Action("Store", new { id = item.Id })">
                    <div class="col-lg-6 col-sm-4 col-xs-4">
                        @if (item.StoreImages.FirstOrDefault() != null)
                        {
                            var image = item.StoreImages.FirstOrDefault();
                            <img src="@image.ImageUrl" style="width:100%;" />
                        }
                        else
                        {
                            <img src="~/img/placeholders/placeholder-product.png" style="width:100%;" />
                        }
                                    </div>
                    <div class="col-lg-6 col-sm-8 col-xs-8">
                        <h4> @item.Name </h4>
                        <span class="label label-success"> @item.StoreCategory.Name </span>
                        @*<br /><br /> @Html.ActionLink("View Products", "Products", "Merchant", new { area = "", id = item.Id }, null)*@
                    </div>
                </a>
            </div>
        </div>
    }

</div>

<hr />
