@model IEnumerable<eCartModels.StorePickupPoint>

@{ 
   var StoreId = ViewBag.StoreId;
}

<div id="AddPartnerModal" class="modal fade" role="dialog" >
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <h3> Add Pick-up Location Partner </h3>
                <div class="panel list-group-item">

                    @foreach ( var pickupPoint in Model )
                    {
                        <a class="list-group-item btn btn-default" style="text-align:left;" onclick="AddPartner(this, @pickupPoint.Id, @ViewBag.StoreId, '@pickupPoint.StoreDetail.Name',  '@pickupPoint.Address');">
                            <b> @pickupPoint.StoreDetail.Name </b> - <span class="text-muted"> @pickupPoint.Address</span>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddPartner(event, Id , StoreId, StoreName, Address) {
         $.get("/Store/StorePickupPartners/AddPartner",
             { id: Id, storeId: StoreId },
             (result) => {
                 if (result == 'True') {
                     UpdateTable(Id, StoreName, Address);
                     $('#AddPartnerModal').modal('hide');
                 } else {
                     alert("Unable to Add Pickup Point");
                 }
            });

        
    }

    function UpdateTable(Id, Store, Address ) {
        var newPartner =
            "<tr >  " +
            "<td class='text-primary'> <b>" + Store + "</b> </td>" +
            "<td> " + Address +" </td>"+
            "<td> " +
            "<a href='#'> Remove </a> " +
            "</td>" +
            "</tr>";
        $("#partnerTable").append(newPartner);
    }
</script>