
@model IEnumerable<eCartModels.CartDetail>
@{
    var USER = ViewBag.IsUserLogged;
    var cartSession = ViewBag.cart as List<eCartModels.CartDetail>;
}

@if (USER)
{
    <div class="row">
        <hr />
        <div class="cart-shopper-panel" id="Cart-Summary">
            <div class="col-sm-12">
                <a href="/Shopper/CartDetails/CartCheckout">
                    <b> <img src="~/img/store/shopping-cart-24.png"> Cart Summary : </b>
                </a>
            </div>

            @if (Model.Count() != 0 && cartSession != null)
            {

                foreach (var cart in cartSession)
                {
                    foreach (var item in cart.CartItems.ToList())
                    {
                        <div class='col-sm-2 cart-item'>
                            <div class="pull-left">
                                @if (item.StoreItem.ItemMaster.ItemImages.FirstOrDefault() != null)
                                {
                                    var image = item.StoreItem.ItemMaster.ItemImages.FirstOrDefault().ImageUrl;
                                    <img src="@image" class="img-thumbnail" style='height:50px;width:50px;' />
                                }
                                else
                                {
                                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" style='height:50px;width:50px;' />
                                }
                            </div>
                            <p class='col-sm-7'> <b>  @item.StoreItem.ItemMaster.Name  </b> <br> Qty: @item.ItemQty   &nbsp; &nbsp;&nbsp; <span class="text-success"> Price: @item.StoreItem.UnitPrice </span> </p>

                            <div> <span class="cart-remove-item" onclick="RemoveItem(this,'@item.StoreItemId')"> x </span></div>
                        </div>
                    }
                }
            }

        </div>

    </div>
    <hr />
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

        var IsUserLogIn = '@ViewBag.IsUserLogged';

        $(document).ready(function () {
            UpdateItemCount();
        });

        function getJsonData() {
            $.get('/Shopper/CartDetails/getSession', null, (data) => {
                console.log(data);
            })
        }


        function UpdateItemCount() {
            console.log(IsUserLogIn);
            if ('@ViewBag.IsUserLogged' == 'True') {

                @if (cartSession != null)
                {
                    <text>
                    var prevItem = {
                        Id: 0,
                        Qty: 0
                    };
                    </text>
                    foreach (var cart in cartSession)
                    {
                        foreach (var item in cart.CartItems.OrderBy(c=>c.StoreItemId).ToList())
                        {

                            <text>
                                if (@item.StoreItemId == prevItem.Id) {
                                    var totalQty = prevItem.Qty + @item.ItemQty;
                                    $("#item-@item.StoreItemId").text("( " + totalQty + " Added ) ");

                                    prevItem.Id = @item.StoreItemId;
                                    prevItem.Qty = totalQty;
                                } else {
                                    $("#item-@item.StoreItemId").text("( " + @item.ItemQty + " Added ) ");

                                    prevItem.Id = @item.StoreItemId;
                                    prevItem.Qty = @item.ItemQty;
                                }

                            </text>


                        }
                    }
                }
            }
        }
</script>
