@model IEnumerable<eCartModels.CartDetail>
@{
    ViewBag.Title = "Cart Checkout";
    Layout = "~/Areas/Shopper/Views/Shared/_Layout.cshtml";
    var userDetails = ViewBag.UserDetails as eCartModels.UserDetail;
}

<h2>Cart Page</h2>

<div>
    <p>
        @Html.ActionLink("Go to Main Page", "Index", "Home", new { area = "" }, null) |
        <a href="@Url.Action("PendingCarts", "CartDetails", new { area ="Shopper" })"> Pending Carts </a>
    </p>
</div>

<div class="panel bordered">
    <div class="panel-body">
        <h3> Shopper Details </h3>
        <p> Name: <b> @userDetails.Name </b> </p>
        <p> Address: <b>  @userDetails.Address </b> </p>
        <p> Contact No.: <b> @userDetails.Mobile</b> </p>
    </div>
</div>

@{ decimal totalAmount = 0; }

@if (Model != null )
{

    foreach (var cart in Model)
    {
        decimal subtotalAmount = 0;
        <div class="panel bordered">
            <div class="panel-body">
                <!-- Error Message -->
                <div class="alert alert-danger" role="alert" id="cart-alert-box-@cart.Id" hidden>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
                </div>
                <!-- Error Message -->


                <div class="cart-summary-store ">
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <h3> @cart.StoreDetail.Name </h3>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <td> <b>Item Description</b> </td>
                            <td> Qty </td>
                            <td> Price per Item</td>
                            <td> Total </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in cart.CartItems)
                        {
                            var qty = item.ItemQty;
                            var unitprice = item.StoreItem.UnitPrice;
                            var subtotal = qty * unitprice;
                            subtotalAmount += subtotal;
                            <tr>
                                <td class="cart-summary-item-td">
                                    @if (item.StoreItem.ItemMaster.ItemImages.FirstOrDefault() != null)
                                    {
                                        var image = item.StoreItem.ItemMaster.ItemImages.FirstOrDefault();
                                        <img src="@image.ImageUrl" class="img-thumbnail" width="50" />
                                    }
                                    else
                                    {
                                        <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="50" />
                                    }

                                    <span style="display:flex;flex-direction:column;padding-left:5px;">
                                        <span class="item-ID"> Item #:  @item.StoreItemId </span>
                                        <b> @item.StoreItem.ItemMaster.Name </b>
                                        <span class="text-muted">  @item.Remarks1 </span>
                                    </span>
                                </td>
                                <td> @item.ItemQty </td>
                                <td> @item.StoreItem.UnitPrice.ToString("0.00") </td>
                                <td class="text-success"> <b> @subtotal.ToString("0.00")</b> </td>
                                <td width="20">
                                    <!-- Remove Order -->
                                    @if (cart.CartStatusId == 1)
                                    {
                                        <div class="cart-summary-remove-item" onclick="RemoveItem(this, '@item.StoreItemId', '@subtotal')"> &#10006 </div>
                                    }
                                    else
                                    {

                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row panel-footer" style="margin:0px;">
                <div class="col-lg-10">
                    <span >
                        <span class="col-sm-3 col-xs-12" style="font-size:18px;"> Amount: <b class="text-success"> Php @subtotalAmount.ToString("0.00") </b> </span>

                        <span class="text-muted col-sm-6 col-xs-12 cart-summary-pickup-text">
                            <span class="col-sm-2 col-xs-4" style="padding:0px;width:60px;"> Pickup: </span>
                            <span class="col-sm-5 col-xs-8" style="padding:0px;width:180px;" >
                                <span id="cartID" hidden> @cart.Id </span>
                                <input type="text" name="pickup-date" value="@cart.DtPickup" class="date-link" onchange="dateChanged(@cart.Id)" >
                            </span>
                            <span class="col-sm-5 col-xs-12" style="padding:0px;">
                                <span id="cartID" hidden> @cart.Id </span>

                                @if (cart.DeliveryType == "Delivery")
                                {
                                    <a href="" class="pickup-location-link" data-toggle="modal" data-target="#pickupModal" onclick="getPickupPoints('@cart.Id','@cart.StoreDetailId')" id="pickupAddress-@cart.Id" value="0">
                                         &nbsp;- Delivery
                                    </a>
                                }
                                else
                                {
                                    <a href="" class="pickup-location-link" data-toggle="modal" data-target="#pickupModal" onclick="getPickupPoints('@cart.Id','@cart.StoreDetailId')" id="pickupAddress-@cart.Id" value="@cart.StorePickupPointId">
                                       &nbsp;- @cart.StorePickupPoint.Address
                                    </a>
                                }
                            </span>
                        </span>

                        <span class="col-sm-3 col-xs-12  cart-summary-pickup-text">
                           <span class="text-muted"> Payment: </span> 
                            <a href="" id="paymentMode-@cart.Id" data-toggle="modal" data-target="#paymentModal" onclick="getPaymentReceivers(@cart.Id)">
                                @if (cart.PaymentDetails != null)
                                 {
                                    switch (cart.PaymentDetails.LastOrDefault().PaymentReceiverId)
                                    {
                                        case 1: <text> At Store </text> break;
                                        case 2: <text> Cash On Delivery </text> break;
                                        case 3: <text> Bank Transfer  </text> break;
                                        case 4: <text> Remittance </text> break;
                                    }
                                 }
                                 else
                                 {
                                    <span> At Store </span>
                                 }
                                </a>
                         </span>
                    </span>

                </div>
                <div class="col-lg-2">
                    @if (cart.CartStatusId == 1)
                    {
                        <button class="btn btn-primary" style="width:100%;" onclick="SubmitOrder(this, @cart.Id);" name="Checkout">
                            Checkout
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-default disabled" style="width:100%;">
                            Cart Submitted
                        </button>
                    }
                </div>
            </div>
        </div>
        totalAmount += subtotalAmount;
    }

    <!-- Error Message -->
    <div class="alert alert-danger" role="alert" id="cart-alert-box-all" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
    </div>
    <!-- Error Message -->

    <div class="panel bordered" style="margin:0px;">
        <div class="panel-body">
            <div class="col-lg-10">
                <h3> Total Amount: <b class="text-success"> Php @totalAmount.ToString("0.00")</b> </h3>
            </div>
            <div class="col-lg-2" style="margin:10px 0px;">
                @if (Model.Any(s => s.CartStatusId == 1))
                {
                    <button class="btn btn-primary" style="width:100%;" onclick="SubmitAllOrder()" name="Checkout">
                        Checkout All
                    </button>
                }
                else
                {
                    <button class="btn btn-default disabled" style="width:100%;">
                        All Carts Submitted
                    </button>
                }
            </div>
        </div>
    </div>

}
<br />



@Html.Partial("_ModalPickupEdit")
@Html.Partial("_ModalCheckoutSuccess")
@Html.Partial("_ModalCartPayment", ViewBag.PaymentParties as IEnumerable<eCartModels.PaymentReceiver>)

@section Scripts{
    <script src="~/Scripts/Cart/cart.js"></script>
    <script src="~/Areas/Shopper/Scripts/checkout.js"></script>
    <script src="~/Areas/Shopper/Scripts/checkoutPickup.js"></script>
    <script src="~/Areas/Shopper/Scripts/checkoutPayment.js"></script>
}
