@model IEnumerable<eCartModels.StoreItem>

@{
    ViewBag.Title = "Kiosk";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-10">
            <img class="col-lg-2 img-thumbnail" src="@ViewBag.StoreImg" />
            <div class="col-lg-8">
                <h1> @ViewBag.StoreName </h1>
                <p class="text-muted">  Address: @ViewBag.StoreAddress  </p>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h1> Store Items </h1>
    </div>

    @foreach (var item in Model)
    {
        if (ViewBag.KioskSetting == 1)
        {
            var itemImage = "";
            <div class="col-sm-12 item-list" style="height:inherit;margin:10px;"> 
                <div class="col-lg-3">
                    @if (item.ItemMaster.ItemImages.FirstOrDefault() != null)
                    {
                        itemImage = item.ItemMaster.ItemImages.FirstOrDefault().ImageUrl;
                        <img src="@itemImage" class="item-image" style="min-height:250px;" />
                    }
                    else
                    {
                        <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail col-lg-2" width="60" />
                    }
                </div>
                <div class="item-desc col-lg-8" style="display:flex;flex-direction:column;justify-content:space-between;">
                    <div style="flex:1;margin-left:20px;">
                        <p style="margin-top:0px;font-size:35px;font-weight:600;">

                            @if (item.ItemMaster.Name.Length < 50)
                            {
                                @item.ItemMaster.Name
                            }
                            else
                            {
                                @item.ItemMaster.Name.Substring(0, 50)
                                <text>... </text>
                            }
                        </p>
                        <b class="text-success" style="font-size:20px;"> Php @item.UnitPrice.ToString("0.00") </b>
                    </div>
                    <div class="add-to-Cart-kiosk col-lg-offset-3 col-lg-9" style="margin-left:0px;margin-top:30px;">
                        <button class="btn btn-primary" onclick="AddtoCart(this)" style="width:90%;font-size:20px;"> Add to Cart </button>
                        <div class="btn-group hidden" style="display:flex;flex-direction:row;max-width:200px;">
                            <button class="btn btn-default" type="button" onclick="SubtractQty(this)"> - </button>
                            <div class="btn btn-default disabled item-qty" style="width:200px;">
                                1
                            </div>
                            <button class="btn btn-default" type="button" onclick="AddQty(this)"> + </button>
                            <button class="btn btn-default" onclick="AddtoCart_Submit(this,'@item.Id', '@item.ItemMaster.Name', '@item.UnitPrice', '@itemImage')"> Submit </button>
                        </div>
                    </div>
                </div>
            </div>
        }

        if (ViewBag.KioskSetting == 2)
        {

            var itemImage = "";
            <div class="col-sm-6 item-list" style="height:550px;">
                @if (item.ItemMaster.ItemImages.FirstOrDefault() != null)
                {
                    itemImage = item.ItemMaster.ItemImages.FirstOrDefault().ImageUrl;
                    <img src="@itemImage" class="item-image" style="height:350px;width:350px" />
                }
                else
                {
                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="60" />
                }
                <div class="item-desc">
                    <p style="margin-top:10px;font-size:25px;font-weight:600;">

                            @if (item.ItemMaster.Name.Length < 50)
                            {
                                @item.ItemMaster.Name
                            }
                            else
                            {
                                @item.ItemMaster.Name.Substring(0, 50)
                                <text>... </text>
                            }
                        </p>
                        <b class="text-success" style="font-size:18px;"> Php @item.UnitPrice.ToString("0.00") </b>
                </div>
                    <div class="add-to-Cart-kiosk col-lg-offset-2 col-lg-10" style="flex:1;margin-left:-20px;margin-top:10px;">
                        <button class="btn btn-primary" onclick="AddtoCart(this)" style="width:70%;font-size:20px;"> Add to Cart </button>
                        <div class="btn-group hidden" style="display:flex;flex-direction:row;max-width:200px;">
                            <button class="btn btn-default" type="button" onclick="SubtractQty(this)"> - </button>
                            <div class="btn btn-default disabled item-qty" style="width:200px;">
                                1
                            </div>
                            <button class="btn btn-default" type="button" onclick="AddQty(this)"> + </button>
                            <button class="btn btn-default" onclick="AddtoCart_Submit(this,'@item.Id', '@item.ItemMaster.Name', '@item.UnitPrice', '@itemImage')"> Submit </button>
                        </div>
                    </div>
            </div>

        }

        if (ViewBag.KioskSetting == 3)
        {
            var itemImage = "";
            <div class="col-sm-2 item-list">
                @if (item.ItemMaster.ItemImages.FirstOrDefault() != null)
                {
                    itemImage = item.ItemMaster.ItemImages.FirstOrDefault().ImageUrl;
                    <img src="@itemImage" class="item-image" width="60" />
                }
                else
                {
                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="60" />
                }
                <div class="item-desc">
                    <p style="margin-top:10px;font-size:18px;font-weight:600;">

                            @if (item.ItemMaster.Name.Length < 50)
                            {
                                @item.ItemMaster.Name
                            }
                            else
                            {
                                @item.ItemMaster.Name.Substring(0, 50)
                                <text>... </text>
                            }
                        </p>
                        <b class="text-success" style="font-size:13px;"> Php @item.UnitPrice.ToString("0.00") </b>
                </div>
                <div class="add-to-Cart-kiosk col-lg-offset-2 col-lg-10" style="margin-left:-20px;margin-top:10px;">
                        <button class="btn btn-primary" onclick="AddtoCart(this)" style="width:120%;"> Add to Cart </button>
                        <div class="btn-group hidden" style="display:flex;flex-direction:row;max-width:200px;">
                            <button class="btn btn-default" type="button" onclick="SubtractQty(this)"> - </button>
                            <div class="btn btn-default disabled item-qty" style="width:200px;">
                                1
                            </div>
                            <button class="btn btn-default" type="button" onclick="AddQty(this)"> + </button>
                            <button class="btn btn-default" onclick="AddtoCart_Submit(this,'@item.Id', '@item.ItemMaster.Name', '@item.UnitPrice', '@itemImage')"> Submit </button>
                        </div>
                 </div>
            </div>
        }
    }
</div>




@{ Html.RenderAction("_CartSummary", "Kiosk", new { area = "Shopper" }); }
@Html.Partial("_ModalCustomerName")


<div class="row">
    <h4 class="col-lg-4">
        Customer:
        <b> <span id="Current-Customer-Name">  </span></b>
    </h4>
    <button class="btn btn-primary col-lg-4 pull-right" onclick="CheckOutOrder()"> Proceed to Checkout </button>
</div>

@section Scripts{

    <script src="~/Areas/Shopper/Scripts/kiosk.js"></script>
    <script>
        $(document).ready(Initialize());

        //On Add to Cart Button Click
        function AddtoCart(e) {
            if ('@HttpContext.Current.User.Identity.IsAuthenticated') {
                $(e).addClass('hidden');                //hide
                $(e).siblings().removeClass('hidden');  //show
            } else {
                //login user
                window.location = "/Account/Login";
            }
        }

        function Initialize() {
            $("#customerNameModal").modal("show");
        }

        function CheckOutOrder() {
            var name = $("#Current-Customer-Name").text();
            var storeKioskId = @ViewBag.KioskId;

            console.log("name: " + name);
            console.log("storeKioskID: " + storeKioskId);

            window.location.href = "/Shopper/Kiosk/CartCheckout?kioskId=" + storeKioskId + "&customer=" + name;
        }

    </script>


} 