@model IEnumerable<eCartModels.StoreUser>

@{
    ViewBag.Title = "Index";
}

<h2>Store User List</h2>
<div class="panel">
    <div class="panel-body">
        <p>
            @Html.ActionLink("Add User ", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreUserType.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDetail.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreUserType.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>