@model eCartModels.UserDetail

@{
    ViewBag.Title = "User Details";
}

<style>
    .User-Account label {
        color: gray;
    }

    .User-Account p {
        font-size: 25px;
    }
</style>

<div class="panel bordered">
    <div class="panel-body">
        <div class="col-lg-12">
            <h2 class="col-lg-3">
                Account Details
            </h2>
            <div class="col-lg-offset-6 col-lg-3 btn-group" style="top:15px;">
                <a href="@Url.Action("PendingCarts","CartDetails", new { area="Shopper", id = Model.Id })" class="btn btn-default"> View myCarts </a>
                <a href="@Url.Action("Edit","UserDetails", new { area="Shopper", id = Model.Id })" class="btn btn-default"> Edit </a>
            </div>
            <hr class="row col-lg-12" />
        </div>
        <div class="col-lg-5 User-Account">
            <label> Name </label>
            <p>
                @Model.Name
            </p>
        </div>
        <div class="col-lg-6 User-Account">
            <label> Address </label>
            <p>
                @Model.Address
            </p>
        </div>
        <div class="col-lg-5 User-Account">
            <label> Email </label>
            <p>
                @Model.Email
            </p>
        </div>
        <div class="col-lg-6 User-Account">
            <label> Mobile </label>
            <p>
                @Model.Mobile
            </p>
        </div>
        <div class="col-lg-5 User-Account">
            <label> Status </label>
            <p>
                @Model.UserStatu.Name
            </p>
        </div>
        <div class="col-lg-6 User-Account">
            <label> City </label>
            <p>
                @Model.MasterCity.Name
            </p>
        </div>
        <div class="col-lg-5 User-Account">
            <label> Area </label>
            <p>
                @Model.MasterArea.Name
            </p>
        </div>
        <div class="col-lg-6 User-Account">
            <label> Remarks </label>
            <p>
                @Model.Remarks
            </p>
        </div>
    </div>
</div>

<div class="panel bordered">
    <div class="panel-body">
        <h3> Other Accounts </h3>
        <hr />

        @if (ViewBag.hasStoreApplication)
        {
            @Html.ActionLink("Go to Store Account", "Index", "Store", new { @area = "Store" }, new { @class= "btn btn-primary"});
        }
        else
        {
            <button class="btn btn-primary" id="AddStoreAppBtn" onclick="PrepForApplication( 1,'@Model.Id','@Model.Email','@Model.Mobile' )">
                Apply for Store Account
            </button>
        }


        @if (ViewBag.hasRiderApplication)
        {

            @Html.ActionLink("Go to Rider Account", "Index", "RiderDetails", new { @area = "Rider" }, new { @class = "btn btn-primary" });
        }
        else
        {
            <button class="btn btn-primary" id="AddRiderAppBtn" onclick="PrepForApplication( 2,'@Model.Id','@Model.Email','@Model.Mobile' )">
                Apply for Rider Account
            </button>
        }
    </div>
</div>


@Html.Partial("_ModalApplication", null, new ViewDataDictionary { { "AppTypes", ViewBag.AppTypes } })

@section Scripts{
    <script>
        function PrepForApplication( type, userId, userEmail, userContact) {
            $("#StoreAppModal").modal('show');
            //prep form
            $("#userApp-mobile").val(userContact);
            $("#userApp-email").val(userEmail);
            $("#userApp-userId").val(userId);
            $("#AppTypes").val(type);
        }


        function SubmitStoreApp() {
            var data = {
                userId : $("#userApp-userId").val(),
                email  : $("#userApp-email").val(),
                mobile : $("#userApp-mobile").val(),
                typeId : $("#AppTypes").val()
            };

            $.post("/Shopper/UserDetails/CreateAccountApp", data, (result) => {
                console.log(result);
                if (result == 'True') {
                    $("#StoreAppModal").modal('hide');
                    var typeId = $("#AppTypes").val();
                    if (typeId == 1) {
                        $('#AddStoreAppBtn').addClass('disabled');
                    }
                    if (typeId == 2) {
                        $('#AddRiderAppBtn').addClass('disabled');
                    }
                } else {
                    alert("Unable to Submit Application.");
                }
            });
        }
    </script>
}