@model eCartModels.CartDetail
@{
    ViewBag.Title = "Cashier - CartDetails";
    Layout = null;
}

@if (Model != null)
{

<div class="panel row" style="padding:15px;" >
    <div class="panel-body store-cart">
        <div class="row">
            <h3 class="col-lg-12" id="cartId">
                Cart # : @Model.Id.ToString("0000")   &nbsp;
            </h3>
            <div class="col-lg-4">
                <p><span class="text-muted"> Status: </span> <span id="cart-status-text"> @Model.CartStatu.Name </span></p>
                <button class="btn btn-primary" data-target="#PaymentModal" data-toggle="modal" id="payment-btn" onclick="SetPaymentCart(@Model.Id, '@Model.UserDetail.Name', )"> Add Payment </button>
            </div>

        </div>

        <hr />
        <h4> <b> Shopper Items </b> </h4>
        <div>
            <table class="table bordered">
                <thead style="font-weight:bold;background-color:whitesmoke;">
                    <tr>
                        <th style="padding-left:20px;"> Item </th>
                        <th> Qty </th>
                        <th> Item Price </th>
                        <th> Total </th>
                    </tr>
                </thead>
                <tbody>
                    @{ decimal total = 0;
                        decimal totalPayment = 0;
                    }

                    @foreach (var payment in ViewBag.PaymentDetails as IEnumerable<eCartModels.PaymentDetail>)
                    {
                        if (payment.PaymentStatusId == 2)
                        {

                            totalPayment = totalPayment + payment.Amount;

                        }
                    }

                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td class="cart-summary-item-td">
                                @if (item.StoreItem.ItemMaster.ItemImages.FirstOrDefault() != null)
                                {
                                    var image = item.StoreItem.ItemMaster.ItemImages.FirstOrDefault();
                                    <img src="@image.ImageUrl" class="img-thumbnail" width="50" />
                                }
                                else
                                {
                                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="50" />
                                }

                                <span style="display:flex;flex-direction:column;padding-left:5px;">
                                    <span class="item-ID"> Item #:  @item.StoreItemId </span>
                                    <b> @item.StoreItem.ItemMaster.Name </b>
                                    <span class="text-muted">  @item.Remarks1 </span>
                                </span>
                            </td>
                            <td>
                                @item.ItemQty
                            </td>
                            <td>
                                @item.StoreItem.UnitPrice.ToString("0.00")
                            </td>
                            <td>
                                @{
                                    var subtotal = item.StoreItem.UnitPrice * item.ItemQty;
                                    total += subtotal;
                                }

                                <b> @subtotal.ToString("0.00") </b>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="3" style="text-align:right;"> <span style="font-size:16px;color:gray;"> Total Amount: </span> </td>
                        <td><b style="font-size:20px;" id="total-amount"> @total.ToString("0.00") </b></td>
                    </tr>

                    <tr>
                        <td colspan="3" style="text-align:right;"> <span style="font-size:16px;color:gray;"> Total Payment: </span> </td>
                        <td><b style="font-size:20px;color:forestgreen" id="payment-total"> @totalPayment.ToString("0.00") </b></td>
                    </tr>
                    <tr>
                        @{var change = totalPayment - total;}
                        <td colspan="3" style="text-align:right;"> <span style="font-size:16px;color:gray;"> Change: </span> </td>
                        <td>
                            <span style="font-size:16px;" id="payment-change">
                                @if (change > 0)
                                {
                                    <text> @change.ToString("0.00") </text>
                                }
                                else
                                {
                                    <text> 0 </text>
                                }

                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-lg-12 alert alert-success" id="payment-success-msg" style="margin-top:10px;" hidden>
                Payment Successful
            </div>

            <div class="col-lg-12 alert alert-danger" id="payment-error-msg" style="margin-top:10px;" hidden>
                Payment Failed
            </div>
        </div>
        <br />
    </div>
</div>

@Html.Partial("_ModalPayment", null, new ViewDataDictionary { { "PaymentReceiverList", ViewBag.PaymentReceiverList },
    { "PaymentPartyList", ViewBag.PaymentPartyList }, { "PaymentStatusList", ViewBag.PaymentStatusList }, { "CartId", Model.Id } })

 }else{
    <p> No carts found</p>
}
