@model eCartModels.StoreDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row panel bordered" style="padding:10px 20px; ">
    <div class="col-lg-12">
        <h2> @Model.Name </h2>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

        <hr />
    </div>
    <div class="col-lg-6">
        <div class="control-label">
            <label class="text-muted"> Address: </label>
            <label> @Model.Address  </label>
        </div>
        <div class="control-label">
            <label class="text-muted"> Category: </label>
            <label> @Model.StoreCategory.Name  </label>
        </div>

        <div class="control-label">
            <label class="text-muted"> LoginId: </label>
            <label> @Model.LoginId  </label>
        </div>
        <div class="control-label">
            <label class="text-muted"> Remarks: </label>
            <label> @Model.Remarks  </label>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="control-label">
            <label class="text-muted"> Area: </label>
            <label> @Model.MasterArea.Name  </label>
        </div>
        <div class="control-label">
            <label class="text-muted"> City: </label>
            <label> @Model.MasterCity.Name  </label>
        </div>

        <div class="control-label">
            <label class="text-muted"> Status: </label>
            <label> @Model.StoreStatu.Name  </label>
        </div>
    </div>
    <div class="col-lg-12">
        <hr />
    </div>
    <div class="col-lg-12">
        <h3> Store Kiosks </h3>

        @Html.ActionLink("Create Kiosk", "Create", "StoreKiosks", new { id = Model.Id }, null)
        <table class="table ">
            <thead>
                <tr>
                    <th> Kiosk Name  </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kiosk in ViewBag.StoreKiosks as IEnumerable<eCartModels.StoreKiosk>)
                {
                    <tr>
                        <td> @kiosk.KioskName </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "StoreKiosks", new { id = kiosk.Id }, null) |

                            @Html.ActionLink("Delete", "Delete", "StoreKiosks", new { id = kiosk.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
