@model eCartModels.StoreDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MasterArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterArea.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterCity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
