<!-- Change Pickup Location Modal -->
<div id="paymentModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:300px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Order Payment </h4>
            </div>
            <div class="modal-body">
                <div class="form-group" hidden> <!-- Hidden -->
                    <p class="control-label"> RiderId </p>
                    <input type="text" class="form-control" id="RiderDetailId" value="@ViewBag.RiderDetailId" />
                </div>
                <div class="form-group" hidden> <!-- Hidden -->
                    <p class="control-label"> CartDetailId </p>
                    <input type="text" class="form-control" id="CartDetailId" value="@ViewBag.CartDetailId" />
                </div>
                <div class="form-group" hidden> <!-- Hidden -->
                    <p class="control-label"> RiderCashParty </p>
                    <select class="list-group form-control" id="RiderCashParty">
                        @foreach (var party in ViewBag.RiderCashParty as IEnumerable<eCartModels.RiderCashParty>)
                        {
                            <option class="list-group-item" value="@party.Id">
                                @party.Name - @party.Operation
                            </option>
                        }
                     </select>
                </div>
                <div class="form-group" hidden> <!-- Hidden -->
                    <p class="control-label"> Date </p>
                    <input type="text" class="form-control" id="DtCash" />
                </div>
                <div class="form-group">
                    <p class="control-label"> Amount </p>
                    <input type="text" class="form-control" id="Amount" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="AddPayment()"> Submit </button>
            </div>
        </div>
    </div>
</div>
