@model IEnumerable<eCartModels.ItemMaster>

@{
    ViewBag.Title = "Item Masters";
}

<h2>Item Masters</h2>

<p>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard") |
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ItemImages.FirstOrDefault() != null)
                    {
                        <img src="@item.ItemImages.FirstOrDefault().ImageUrl" style="width:30px;" />
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td id="category-@item.Id">
                    @foreach (var category in item.ItemMasterCategories)
                    {
                        <span class="btn-group">
                            <span class="btn btn-default btn-xs">  @category.ItemCategory.Name</span>
                            <span class="btn btn-default btn-xs" onclick="RemoveItemCategory(this, @category.Id, '@category.ItemCategory.Name')">  &times; </span>
                        </span>
                    }

                    <span class="btn btn-default btn-xs" data-target="#AddCategory" data-toggle="modal" style="cursor:pointer;" onclick="GetCategoryList(@item.Id);"> Add Category </span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>



@{Html.RenderPartial("_ModalAddCategory"); }
