@model eCart.Models.PaymentDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaymentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartDetail.DeliveryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartDetail.DeliveryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentReceiver.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentReceiver.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentParty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentParty.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
