@model IEnumerable<eCart.Models.PaymentDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartDetail.DeliveryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentReceiver.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatu.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentParty.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartDetail.DeliveryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentReceiver.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatu.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentParty.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
