@model IEnumerable<eCartModels.StoreItem>

@{
    ViewBag.Title = "Index";
}

<h2>Store Items</h2>

<p>
    @Html.ActionLink("Back to Store", "Index", "Store", new { id = @ViewBag.StoreId }, null) |
    <a data-target="#AddItem" data-toggle="modal" style="cursor:pointer;" onclick="PrepAddItemModal();"> Add Item </a> 
</p>
<div class="panel panel-default">
    <table class="table" id="StoreItemsTable">
        <tr>
            <td>
            </td>
            <th>
                @Html.DisplayNameFor(model => model.ItemMaster.Name)
            </th>
            <td>
                <b> Category</b>
            </td>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>
        <tbody class="StoreItemsTable-tbody" id="StoreItems-content">
            @foreach (var item in Model)
            {
                <tr>
                    <td width="80">
                        @if (item.ItemMaster.ItemImages.FirstOrDefault() != null)
                        {
                            var image = item.ItemMaster.ItemImages.FirstOrDefault();
                            <img src="@image.ImageUrl" class="img-thumbnail" width="60" />
                        }
                        else
                        {
                            <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="60" />
                        }
                    </td>
                    <td>
                        <div style="display:flex;">
                            <b style="margin:auto 0;">
                                @Html.DisplayFor(modelItem => item.ItemMaster.Name)
                            </b>
                        </div>
                    </td>
                    <td>
                        <div id="category-@item.Id">

                            @foreach (var category in item.ItemMaster.ItemMasterCategories)
                            {
                                <div class="btn-group">
                                    <button class='btn btn-default btn-xs normal-cursor'>
                                        @category.ItemCategory.ItemCatGroup.Name
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class='btn btn-default btn-xs normal-cursor'>
                                        @category.ItemCategory.Name
                                    </button>
                                </div>
                            }
                        </div>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        <a class="hand-cursor" data-target="#EditItem" data-toggle="modal" onclick="getItem(@item.Id)"> Edit Price </a> |
                        <a class="hand-cursor" data-target="#RemoveItem" data-toggle="modal" onclick="SetRemoveItem(@item.Id)"> Remove </a> 
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


@{Html.RenderPartial("_ModalAddItem", null, new ViewDataDictionary { { "StoreId", ViewBag.StoreId } }); }

@{Html.RenderPartial("_ModalEditItem", null, new ViewDataDictionary { { "StoreId", ViewBag.StoreId } }); }

@{Html.RenderPartial("_ModalRemoveItem", null, new ViewDataDictionary { { "StoreId", ViewBag.StoreId } }); }


@section Scripts {
    <script src="~/Areas/Store/Scripts/StoreItems/CreateItem.js"></script>
    <script src="~/Areas/Store/Scripts/StoreItems/AddItem.js"></script>
    <script src="~/Areas/Store/Scripts/StoreItems/RemoveItem.js"></script>

}